body.wp-admin.settings_page_limit-post-fields .field-limits .field-limit .title {
    width: 180px;
    display: inline-block;
    text-align: right;
}

body.wp-admin.settings_page_limit-post-fields .field-limits .field-limit .limit-input {
    width: 100px;
}
